.advantages {
  max-width: 450px;
  padding: 20px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .advantages {
    max-width: 700px;
    margin-bottom: 30px;
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}