.gallery {
  padding: 20px;
  margin-bottom: 40px;
}

.textWrapper {
  padding: 5px 0;
}

.wrapper {
  margin: 25px -20px;
}

@media (min-width: 768px) {
  .gallery {
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}