.advantage {
  padding: 30px 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 300px;

  background-color: #2E8B57;
  text-align: center;
  color: #fff;
}

.advantage:last-child {
  margin-bottom: 0;
}

.advantage:nth-child(2n) {
  background-color: #3CB371;
}

.img {
  width: 60px;
  height: 60px;
}

@media (min-width: 768px) {
  .advantage {
    margin: 0;
    max-width: 330px;
  }

  .advantage:nth-child(3) {
    order: 1;
  }
}

@media (min-width: 1024px) {
  .advantage:nth-child(3) {
    order: 0;
  }
}