.specialOffer {
  padding: 10px;
}

.wrapper {
  max-width: 450px;
  margin: 0 auto; 

  border-bottom: 1px solid black;
}

.link {
  color: #f7c90b;
}

@media (min-width: 768px) {
  .specialOffer {
    padding: 30px;

    color: #fff;
    background-color: rgba(36, 36, 36, 0.95);
  }

  .wrapper {
    border-bottom: none;
  }
}